body{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

#container{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 2rem;
    align-items: center;
}


#logo ul{
    display: flex;
    padding-left: 0;
}

#logo li{
    padding: 8px 7px;
}

#menubar ul{
    display: flex;
    padding-left: 0;
    
}

#menubar li{
    font-size: 1.5rem;
    padding: 8px 12px;
}

#menubar li:hover{
    background-color: thistle;
}

#sns{
    display: flex;
}

#sns li{
    padding: 8px 5px;
}

@media screen and (max-width:800px) {
    #container{
        flex-direction: column;
        align-items: flex-start;
    }

    #logo li{
        align-items: flex-end;
    }

    #menubar{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #menubar ul{
        flex-direction: column;
    }

    #menubar li{
        width: 100%;
        text-align: center;
    }

    #sns{
        justify-content: center;
        width: 100%;
    }

    #sns ul{
        padding-left: 0;
        

    }





}

