*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: gray;
    border: 0;
    border-radius: 4px;
}


header{
    display: flex;
    justify-content: center;
    padding: 8px 12px;
}
img{
    width: 70px;
    transition: all 0.2s linear;
}

button:hover{
    transform: scale(1.2);
}
section{
    padding: 8px 12px;
    font-size: 18px;
    font-family: "Uchen Regular",serif;
}

section{
    display: flex;
    justify-content: center;
}

section *{
    background-color: white;
}

section ul{
    width: 530px;
}

section li{
    display: flex;
    align-items: center;
    justify-content: center;
}




.main_logo img{
    width: 100px;
}

.nav_container{
    padding: 8px 12px;
}

.nav_container ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dress{
    padding: 20px;
}

.color_btn{
    margin: 10px;
}

.color_btn button{
    padding: 15px;
}

.blue{
    background-color: skyblue;
   
}
.yellow{
    background-color: gold;
}

.pink{
    background-color: pink;
}
.dress_img{
    margin-right: 10px;
}
.sex{
    margin-right: 10px;
}









